<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  function quantityFunc(url, diff, id) {
    $.ajax({
      url: url,
      method: "POST",
      data: {
        "diff": diff,
        "list_type": "cart"
      },
      success: function (data) {
        qid = "#quantity" + id;
        $(qid).val(data.quantity);
      }
    });
  }
  function removeItem(url, id) {
    $.ajax({
      url: url,
      method: "POST",
      success: function (data) {
        row_id = "#row" + id;
        $(row_id).remove();
      }
    });
  }
  function moveItem(url, id) {
    $.ajax({
      url: url,
      method: "POST",
      success: function (data) {
        row_id = "#row" + id;
        $(row_id).remove();
        get_wishlist();
      }
    });
  }
</script>
  
  <div class="-my-8 divide-y-2 divide-gray-100 ">
    <style>
      .table-container{
        padding: 10px;
        /* display: flex; */
      width: 100%;
      }

      .table-style {
          border-collapse: collapse;
          text-align: center;
          width: 100%;
      }

      tr {
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
      }

      .img {
          padding: 10px;
          align-self: center;
      }

      .img img {
          max-width: 200px; 
          max-height: 150px; 
          width: auto; 
          height: auto; 
          display: flex; 
          justify-content: center; 
          align-items: center; 
          margin-left: auto;
          margin-right: auto;
}

      .quantity-container {
        width: 110px;
        align-items: center;
        justify-content: center;
        height: 100%;
        
        margin-top: auto;
        margin-bottom: auto;
      }

      .quantity-input {
          width: 40px;
          text-align: center;
      }

      .quantity-btn {
          font-size: 16px;
          width: 20px;
          height: 20px;
          background-color: gray;
          color: #fff;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          
      }

      .quantity-btn:hover {
          background-color: #0056b3;
      }

      th,
      td {
          border: 1px solid #dddddd;
          padding: 8px;
          text-align: center; /* Center align content in table cells */
      }
      .delete-icon {
        color: red;
        cursor: pointer;
    }
    .move-item-icon{
        cursor: pointer;
    }
  </style>
  <div class="table-container">
      {% if cart_items %}
    <table class="table-style">
      <thead >
          <tr >
              <th >Image</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Delete</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody >
    {% for cart_item in cart_items %}
    <tr id="row{{cart_item.id}}">
    <td class="img"><img alt="ecommerce" height="150" width="200"  src="{{cart_item.item.image}}" ></td>
    <td >{{ cart_item.item.name }}</td>
    <td>{{cart_item.category}}</td>
    <td style="align-items: self-start;" class="inline">
      <button class="quantity-btn" onclick="quantityFunc('{% url 'ajax_change_quantity' id=cart_item.id %}', -1, {{cart_item.id}});" >-</button>
      <input id="quantity{{cart_item.id}}" type="number" class="quantity-input" value="{{cart_item.quantity}}">
      <button class="quantity-btn" onclick="quantityFunc('{% url 'ajax_change_quantity' id=cart_item.id %}', 1, {{cart_item.id}});" >+</button>
    </td>
    <td>{{cart_item.item.retail_price}}</td>
    <td><button class="delete-icon" onclick="removeItem('{% url 'remove_from_cart' id=cart_item.id %}', {{cart_item.id}})">Delete</button></td>
    <td><button class="move-item-icon" onclick="moveItem('{% url 'move_to_wishlist' id=cart_item.id %}', {{cart_item.id}})">Move to Wishlist</button></td>
  </tr>
    
    {% endfor %}
  </tbody>
  </table>
  {%endif%}
  {% if not cart_items %}
<p style="padding: 10px;">No items in cart!</p>
{%endif%}
  </div>
</div>