<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  document.querySelector(".quantity-input").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {        evt.preventDefault();
    }
});
// 0 for null values// 8 for backspace // 48-57 for 0-9 numbers
// has context menu
  function quantityFunc(url, diff, id, alt) {
    $.ajax({
      url: url,
      method: "POST",
      data: {
        "diff": diff,
        "list_type": "cart",
        "alt": alt
      },
      success: function (data) {
        qid = "#quantity" + id;
        $(qid).val(data.quantity);
      }
    });
  }
  function removeItem(url, id) {
    $.ajax({
      url: url,
      method: "POST",
      success: function (data) {
        row_id = "#row" + id;
        $(row_id).remove();
      }
    });
  }
  function moveItem(url, id) {
    $.ajax({
      url: url,
      method: "POST",
      success: function (data) {
        row_id = "#row" + id;
        $(row_id).remove();
        get_wishlist();
      }
    });
  }
</script>
  
  <div class="-my-8 divide-y-2 divide-gray-100 ">
    <style>
      .table-container{
        padding: 10px;
        /* display: flex; */
      width: 100%;
      }

      .table-style {
          border-collapse: collapse;
          text-align: center;
          width: 100%;
      }

      tr {
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
      }

      .img {
          padding: 10px;
          align-self: center;
      }

      .img img {
          max-width: 200px; 
          max-height: 150px; 
          width: auto; 
          height: auto; 
          display: flex; 
          justify-content: center; 
          align-items: center; 
          margin-left: auto;
          margin-right: auto;
}

      .quantity-container {
        display: flex;
        flex-direction: column;
        width: 110px;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
        border: none;
        outline: none;
        box-shadow: none;
      }

      .quantity-input {
          width: 40px;
          text-align: center;
          margin: 4px 8px 4px 8px;
          
          border: none;
          background: none;
          outline: none;
      }

      .quantity-btn {
          font-size: 16px;
          width: 20px;
          height: 20px;
          background-color: gray;
          color: #fff;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          outline: none;
      }

      .quantity-btn:hover {
          background-color: #154c79;
      }
      th{
        background-color: #f2f2f2;
      }
      th,
      td {
          border: 1px solid #dddddd;
          padding: 8px;
          text-align: center; /* Center align content in table cells */
      }
      .delete-icon {
        color: red;
        cursor: pointer;
        width: 40px;
        height: 30px
    }
    .move-item-icon{
        cursor: pointer;
        background-color: #154c79;
        color: #fff;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 16px;
    }
    input[type='number']::-webkit-inner-spin-button, 
    input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;    margin: 0;
    }
  </style>
  <div class="table-container">
      {% if cart_items %}
      <div><strong>Total Amount: {{cart_amt}}</strong></div>
    <table class="table-style">
      <thead >
          <tr >
              <th >Image</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Delete</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody >
    {% for cart_item in cart_items %}
    <tr id="row{{cart_item.id}}">
    <td class="img"><img alt="ecommerce" height="150" width="200"  src="{{cart_item.item.image}}" ></td>
    <td >{{ cart_item.item.name }}</td>
    <td>{{cart_item.category}}</td>
    <td style="align-items: self-start;">
    <div class="quantity-container">
      <button class="quantity-btn" onclick="quantityFunc('{% url 'ajax_change_quantity' id=cart_item.id %}', 1, {{cart_item.id}}, false);" >+</button>
      <input id="quantity{{cart_item.id}}" type="number" class="quantity-input" value="{{cart_item.quantity}}" onblur="quantityFunc('{% url 'ajax_change_quantity' id=cart_item.id %}', $('#quantity{{cart_item.id}}').val(), {{cart_item.id}}, true);">
      <button class="quantity-btn" onclick="quantityFunc('{% url 'ajax_change_quantity' id=cart_item.id %}', -1, {{cart_item.id}}, false);" >-</button>
    </div>
    </td>
    <td>{{cart_item.item.retail_price}}</td>
    <td><img class="delete-icon" src="/static/warehouse/images/delete_icon-nobg.png" onclick="removeItem('{% url 'remove_from_cart' id=cart_item.id %}', {{cart_item.id}})"></td>
    <td><button class="move-item-icon" onclick="moveItem('{% url 'move_to_wishlist' id=cart_item.id %}', {{cart_item.id}})">Move to Wishlist</button></td>
  </tr>
    
    {% endfor %}
  </tbody>
  </table>
  {%endif%}
  {% if not cart_items %}
<p style="padding: 10px;">No items in cart!</p>
{%endif%}
  </div>
</div>