{% for cart_item in cart_items %}
  <div class="-my-8 divide-y-2 divide-gray-100">
    <div class="py-8 flex flex-wrap md:flex-nowrap">
      <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
        <span class="mt-1 text-gray-500 text-sm">{{cart_item.edited_date}}</span>
      </div>
      <div class="md:flex-grow">
        <div class="inline-flex">
          <img alt="ecommerce" height="150" width="200"  src="{{cart_item.item.image}}">
          <div>
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ cart_item.item.name }}</h2>
            <span class="font-semibold title-font text-gray-700">{{cart_item.item.category_tree}}</span>
            <p class="leading-relaxed">{{cart_item.item.description}}</p>
          </div>
          <div >
            <p class=""><b>Quantity: {{cart_item.quantity}}</b></p>
            <br>
            <p class=""><b>Unit Price: {{cart_item.item.retail_price}}</b></p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
{% empty %}
<p>empty cart</p>
{% endfor %}