<div class="categories-container" > <!-- Added margin-top -->
    
    {% for category in categories %}
      
      <form method="GET" action="{% url 'products-list-category' %}">
        
        
        <button class="category" onclick=submit value="{{ category }}" name="CategoryQuery">{{ category }}</button>
    </form>
    {% endfor %}
  </div>
  
  <style>
    /* Style for categories */
    .categories-container {
      background-color: #d1d5db; /* Darker grey background color */
      padding: 10px; /* Add padding */
      display: flex; /* Display categories inline */
      justify-content: space-between; /* Space out the categories equally */
      height: auto;
    }
  
    .category {
      margin-right: 10px; /* Add margin between categories */
      color: black; /* Set text color to black */
      transition: color 0.3s; /* Smooth transition effect */
    }
  
    .category:hover {
      color: #154c79; /* Change text color on hover */
    }
  </style>  