{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="text-gray-600 body-font mt-32">
  {% include 'category.html' %}
  <form id="sort-form" action="{% url 'products-list' %}" method="get" style="padding: 10px;">
    <label for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by">
      <option value="none">Relevance</option>
      <option value="descending">Price (descending)</option>
      <option value="ascending">Price (ascending)</option>
    </select>
  </form>

  <div class="container px-5 py-24 mx-auto" style="padding-top: 20px;">
    <div class="flex flex-wrap -m-4">
      {% if prods_list%}
      {% for prod in prods_list %}
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full product-container" style="margin-bottom: 20px; min-width: 250px;"> <!-- Reduced margin-bottom -->
        <a href="{% url 'item_detail' pk=prod.id %}" class="block relative rounded overflow-hidden" style="height: 300px;"> <!-- Reduced height of image container -->
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{prod.image}}">
        </a>      
        <div class="mt-n4 flex flex-col justify-between h-full"> <!-- Adjusted margin-top to -4 -->
          <div>
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{prod.category}}</h3>
            <a href="{% url 'item_detail' pk=prod.id %}" class="block relative rounded overflow-hidden" >
              <h2 class="text-gray-900 title-font text-lg font-medium">{{prod.name}}</h2>
            </a>
            <p class="mt-1">{{prod.retail_price}}</p>
          </div>
          <div class="mt-0"> <!-- Added text-right class and adjusted margin -->
            <button onclick="add_item('{% url 'add_to_wishlist' id=prod.id %}')" class="text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded w-full mb-2" style="background-color: #154c79;">Add to Wishlist</button>
            <button onclick="add_item('{% url 'add_to_cart' id=prod.id %}')" class="text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded w-full mb-2" style="background-color: #154c79;">Add to Cart</button>
          </div>
        </div>
      </div>
      {% endfor %}
      {%endif%}
      {%if not prods_list%}
      <div style="text-align: center; padding: auto;"><strong><p>No products to display</p></strong></div>
      {%endif%}
    </div>
  </div>

  {% comment %} Pagination code from the django docs {% endcomment %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

</section>

<style>
  .product-container {
    border: 1px solid #d1d5db; /* Grey border */
    display: flex; /* Added */
    flex-direction: column; /* Added */
  }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>

  let currentParamsPD = new URLSearchParams(window.location.search);
    if (currentParamsPD.has('CategoryQuery')) {
        $('<input />').attr('type', 'hidden')
            .attr('name', 'CategoryQuery')
            .attr('value', currentParamsPD.get('CategoryQuery'))
            .appendTo('#sort-form');
    }
    if (currentParamsPD.has('query')) {
        $('<input />').attr('type', 'hidden')
            .attr('name', 'query')
            .attr('value', currentParamsPD.get('query'))
            .appendTo('#sort-form');
    }

  function add_item(listUrl) {
    $.ajax({
        method: "POST",
        url: listUrl,
        success: function (data) {
            if (!data.auth) {
                window.location = "{% url 'login' %}";
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: data.message,
                });
            }
        }
    });
}
  const url = new URL(window.location.href);
  const query = url.searchParams.get('query');
  const category = url.searchParams.get('CategoryQuery');
  const current_sort = url.searchParams.get('sort_by');
  if (!(category == null || category === "None")) {
    console.log('here');
    let noneForm = '<form id="cat-form" method="GET" action="/filter/"><button class="category" onclick="submit" value="none" name="CategoryQuery">All Categories</button></form>';
    $('.categories-container').html(noneForm + $('.categories-container').html()); 
  }
  if (current_sort == null) {
    $('#sort_by').val("none");
  } else {
    $('#sort_by').val(current_sort);
  }
  $('#sort_by').change(() => {
    $('#sort-form').submit();
  })

</script>

{% endblock content %}