<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  function wquantityFunc(url, diff, id) {
    $.ajax({
      url: url,
      method: "POST",
      data: {
        "diff": diff,
        "list_type": "wishlist"
      },
      success: function (data) {
        qid = "#wquantity" + id;
        $(qid).val(data.quantity);
      }
    });
  }
</script>

<div class="-my-8 divide-y-2 divide-gray-100 ">
  <style>
    /* .table-container{
      padding: 10px;
      /* display: flex; */
    /* width: 100%;
    }
    
    .table-style {
      flex: 1;
    border-collapse: collapse;
    text-align: center;
    flex-direction: column;
    width: 100%;
    
    
    }
    
    tr {
      
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      margin-bottom: 10px; 
  }
  .img {
    padding: 10px;
    align-self: center;
  }
  .quantity-btn {
      padding: auto;
        font-size: 16px;
        width: 20px;
        height: 20px;
        background-color: gray;
        color: #fff;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin: auto;
        text-align: center;
        position: relative;
    }
    .quantity-btn:hover {
        background-color: #0056b3;
    } */ 
  </style>
  <div class="table-container">
    {% if wishlist_items %}
  <table class="table-style">
    
    <thead >
      
        <tr >
            <th >Image</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit Price</th>
        </tr>
        
    </thead>
    
    <tbody >
  {% for wishlist_item in wishlist_items %}
  <tr >
  <td class="img"><img alt="ecommerce" height="150" width="200"  src="{{wishlist_item.item.image}}" ></td>
  <td >{{ wishlist_item.item.name }}</td>
  <td>{{wishlist_item.item.category.name}}</td>
  <td style="align-items: self-start;">
    <button class="quantity-btn" onclick="wquantityFunc('{% url 'ajax_change_quantity' id=wishlist_item.id %}', -1, {{wishlist_item.id}});" >-</button>
    <input id="wquantity{{wishlist_item.id}}" type="number" class="quantity-input" value="{{wishlist_item.quantity}}">
    <button class="quantity-btn" onclick="wquantityFunc('{% url 'ajax_change_quantity' id=wishlist_item.id %}', 1, {{wishlist_item.id}});" >+</button>
  </td>
  <td>{{wishlist_item.item.retail_price}}</td>
</tr>
  
  {% endfor %}
  
</tbody>
</table>
{%endif%}

{% if not wishlist_items %}
<p style="padding: 10px;">No items in wishlist!</p>
{%endif%}
</div>


