<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  function wquantityFunc(url, diff, id) {
    $.ajax({
      url: url,
      method: "POST",
      data: {
        "diff": diff,
        "list_type": "wishlist"
      },
      success: function (data) {
        qid = "#wquantity" + id;
        $(qid).val(data.quantity);
      }
    });
  }
  function wremoveItem(url, id) {
    $.ajax({
      url: url,
      method: "POST",
      success: function (data) {
        row_id = "#wrow" + id;
        $(row_id).remove();
      }
    });
  }
  function wmoveItem(url, id) {
    $.ajax({
      url: url,
      method: "POST",
      success: function (data) {
        row_id = "#wrow" + id;
        $(row_id).remove();
        get_list();
      }
    });
  }
</script>

<div class="-my-8 divide-y-2 divide-gray-100 ">
  
  <div class="table-container">
    {% if wishlist_items %}
  <table class="table-style">
    
    <thead >
      
        <tr >
            <th >Image</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Delete</th>
            <th>Actions</th>
        </tr>
        
    </thead>
    
    <tbody >
  {% for wishlist_item in wishlist_items %}
  <tr id="wrow{{wishlist_item.id}}">
  <td class="img"><img alt="ecommerce" height="150" width="200" src="{{wishlist_item.item.image}}" ></td>
  <td >{{ wishlist_item.item.name }}</td>
  <td>{{wishlist_item.category}}</td>
  <td class="align-items: self-start;">
    <div class="quantity-container">
      <button class="quantity-btn" onclick="wquantityFunc('{% url 'ajax_change_quantity' id=wishlist_item.id %}', -1, {{wishlist_item.id}});" >-</button>
      <input id="wquantity{{wishlist_item.id}}" type="number" class="quantity-input" value="{{wishlist_item.quantity}}">
      <button class="quantity-btn" onclick="wquantityFunc('{% url 'ajax_change_quantity' id=wishlist_item.id %}', 1, {{wishlist_item.id}});" >+</button>
    </div>
  </td>
  <td>{{wishlist_item.item.retail_price}}</td>
  <td><button class="delete-icon" onclick="wremoveItem('{% url 'remove_from_wishlist' id=wishlist_item.id %}', {{wishlist_item.id}})">Delete</button></td>
  <td><button class="move-item-icon" onclick="wmoveItem('{% url 'move_to_cart' id=wishlist_item.id %}', {{wishlist_item.id}})">Move to Cart</button></td>

</tr>
  
  {% endfor %}
  
</tbody>
</table>
{%endif%}

{% if not wishlist_items %}
<p style="padding: 10px;">No items in wishlist!</p>
{%endif%}
</div>


